<div class="centeredPages">

<h2>Account Information</h2>

<div class="row">
    <div class="column">
<h3>Contact Information</h3>

<p>First Name:
    {{#if firstName}}
        {{firstName}}
    {{else}}
        not set
    {{/if}}
</p>

<p>Last Name:
    {{#if lastName}}
        {{lastName}}
    {{else}}
        not set
    {{/if}}
</p>

<p>Email:
    {{#if email}}
        {{email}}
    {{else}}
        not set
    {{/if}}
</p>

<p>Phone:
    {{#if phone}}
        {{phone}}
    {{else}}
        not set
    {{/if}}
</p>

<h3>Address Information</h3>

<p>Country:
    {{#if country}}
        {{country}}
    {{else}}
        not set
    {{/if}}
</p>

<p>Address Line 1:
    {{#if addressLine1}}
        {{addressLine1}}
    {{else}}
        not set
    {{/if}}
</p>

<p>Address Line 2:
    {{#if addressLine2}}
        {{addressLine2}}
    {{else}}
        not set
    {{/if}}
</p>

<p>City:
    {{#if city}}
        {{city}}
    {{else}}
        not set
    {{/if}}
</p>

<p>Province/State:
    {{#if province}}
        {{province}}
    {{else}}
        not set
    {{/if}}
</p>

<p>Postal Code:
    {{#if postalCode}}
        {{postalCode}}
    {{else}}
        not set
    {{/if}}
</p>
    </div>

    <div class="column">

<h3>Update your account information</h3>

<ul>
    {{#each messages}}
        <li>{{this}}</li>
    {{/each}}
</ul>

<form action="/updateAccountInfo" method="POST">
    First Name: <input type="text" name="firstName"> <br>
    Last Name: <input type="text" name="lastName"> <br>
    Email: <input type="text" name="email"> <br>
    Phone: <input type="text" name="phone"> <br>
    Country: <input type="text" name="country"> <br>
    Address Line 1: <input type="text" name="addressLine1"> <br>
    Address Line 2: <input type="text" name="addressLine2"> <br>
    City: <input type="text" name="city"> <br>
    Province: <input type="text" name="province"> <br>
    Postal Code: <input type="text" name="postalCode">
    <input type="submit" name="updateInfo" value="Update Account Info">
</form>

<a class="button" href="/accountHome">Account Home Page</a>

<a class="button" href="/logout">Log out</a>

    </div>

</div>

</div>